@charset "UTF-8";
body {
  /* HEADER */
  /*FIN HEADER 
  DEBUT HOME */
  /* FIN HOME
  PAGE BOUTIQUES */
  /*FIN BOUTIQUE
  	PURCHASE_ORDER */
  /* FIN PURCHASE_ORDER
  	CONFIRMATION DE COMMANDE */
  /*FOOTER */ }
  body .titreduhaut {
    text-align: center; }
  body .menu {
    background-color: #2196F3;
    color: #FFFFFF;
    height: 50px;
    position: relative; }
    body .menu .burger {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      color: inherit;
      cursor: pointer;
      font-size: 5vw;
      line-height: 50px;
      margin: 0;
      outline: 0;
      padding: 0;
      text-align: center;
      width: 50px; }
      body .menu .burger:before {
        content: '☰'; }
      body .menu .burger:checked + nav {
        height: initial;
        opacity: 0.9; }
      body .menu .burger:checked:before {
        content: 'X'; }
    body .menu nav {
      background: inherit;
      font-size: 20px;
      font-weight: bold;
      height: 0;
      overflow: hidden;
      text-transform: uppercase;
      transition: height .2s;
      width: 100%; }
      body .menu nav > * {
        display: block;
        letter-spacing: 1px;
        padding: 0 20px;
        width: 100%;
        font-size: 4vw; }
      body .menu nav ul {
        list-style-type: none; }
        body .menu nav ul li {
          text-align: center; }
          body .menu nav ul li a {
            color: #FFFFFF;
            text-decoration: none; }
  body section {
    margin-bottom: 5%; }
    body section h1, body section h2 {
      text-align: center;
      color: #AED581; }
    body section .articleHome {
      width: 100%;
      display: flex;
      flex-direction: column; }
      body section .articleHome img, body section .articleHome p {
        width: 80%;
        margin-left: 10%;
        text-align: justify; }
  body #boutiques h1, body #boutiques h2 {
    text-align: center; }
  body #boutiques .bieres div img {
    width: 30%;
    margin-left: 35%; }
  body #boutiques .bieres p {
    width: 80%;
    margin-left: 10%;
    text-align: justify; }
  body #boutiques .bieres .price {
    text-align: right; }
  body #formPurchase .form label {
    display: block; }
  body #formPurchase .form input {
    width: 100%;
    border: 1px solid black; }
  body #commandSection table {
    width: 100%; }
    body #commandSection table tr th {
      font-family: initial; }
    body #commandSection table tr td {
      text-align: center; }
  body footer {
    background-color: #2196F3;
    line-height: 20px; }
    body footer nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0; }
      body footer nav ul li a {
        color: #FFFFFF; }

@media (min-width: 768px) {
  body .menu .burger {
    display: none; }
  body .menu nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial; }
    body .menu nav > * {
      font-size: 1.3vw; }
    body .menu nav ul {
      display: flex;
      justify-content: space-around; }

  /* PAGE HOME */
  section h1 {
    font-size: 3vw; }
  section h2 {
    font-size: 2.5vw; }
  section article {
    flex-direction: row !important;
    width: 80% !important;
    margin-left: 10%; }
    section article div {
      width: 40%; }
      section article div img {
        width: 100%;
        margin: 0; }
    section article p {
      margin-left: 10% !important;
      width: 50% !important; }

  /* FIN PAGE HOME
    PAGE BOUTIQUES */
  #boutiques {
    display: flex;
    flex-wrap: wrap; }
    #boutiques .bieres {
      width: 33% !important;
      margin-left: 0; }
      #boutiques .bieres div {
        margin-left: 15% !important; }
        #boutiques .bieres div img {
          margin-left: 70% !important; }
      #boutiques .bieres p {
        width: 80% !important; }

  /* PURCHASE_ORDER */
  #formPurchase {
    width: 33%;
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 5%; }
    #formPurchase .form_row {
      display: flex;
      justify-content: space-between; }
    #formPurchase table {
      width: 100%; }

  /* FIN PURCHASE_ORDER
   FOOTER */
  footer {
    height: 5vh;
    display: flex;
    align-items: center; }
    footer nav {
      width: 100%; } }
