{% extends "layout/defaultBeerShop.twig" %}

{% block content %}
<h1 class="titreduhaut">{% block title %}{{ title }}{% endblock %}</h1>
    <form method="POST" name="{{title}}" action="/signup">
        <div class="form-group">
            <label for="mail">votre courriel</label>
            <input id="mail" type="email" name="mail" value="" required>
        </div>
        <div class="form-group">
            <label for="mailVerify">vérification de votre courriel</label>
            <input id="mailVerify" type="email" name="mailVerify" value="" required>
        </div>
        <div class="form-group">
            <label for="lastname">votre nom</label>
            <input id="lastname" type="text" name="lastname" value="" required>
        </div>
        <div class="form-group">
            <label for="firstname">votre prénom</label>
            <input id="firstname" type="text" name="firstname" value="" required>
        </div>
        <div class="form-group">
            <label for="address">votre adresse</label>
            <input id="address" type="text" name="address" value="" required>
        </div>
        <div class="form-group">
            <label for="zipCode">votre code postal</label>
            <input id="zipCode" type="text" name="zipCode" value="" required>
        </div>
        <div class="form-group">
            <label for="city">votre ville</label>
            <input id="city" type="text" name="city" value="" required>
        </div>
        <div class="form-group">
            <label for="country">votre pays</label>
            <input id="country" type="text" name="country" value="" required>
        </div>
        <div class="form-group">
            <label for="phone">votre numéro de portable</label>
            <input id="phone" type="tel" name="phone" value="" required>
        </div>
        <div class="form-group">
            <label for="password">votre mot de passe</label>
            <input id="password" type="password" name="password" value="" required>
        </div>
        <div class="form-group">
            <label for="passwordVerify">confirmez votre mot de passe</label>
            <input id="passwordVerify" type="password" name="passwordVerify" value="" required>
        </div>
    <button type="submit">Envoyez</button>
</form>
{% endblock %}